:root{ 
    --basic-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    
    --background-footer-color: #2F303A ;
} 

body{
    background-color: #FFFFFF;
    color: var(--basic-color);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

*
{
    padding: 0;
    margin: 0;
}
button{
    cursor: pointer;
}
img{
    display: block;
}
.icon {
    fill: currentColor;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}


.list{
    padding: 0;
    margin: 0;
    list-style: none;

}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav{
    display: flex;
    align-items: center;
} 
.link.current::after{
    position: absolute;
    content: "";
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
.header-page{
    border-bottom: 1px solid #ECECEC;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.logo{
    color: var(--accent-color);
    margin-right: 93px;
   
    font-size: 26px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif; 
    line-height: 1.2;
 
}
.logo-part{
    /* margin-right: 93px; */
    color: #000000;
    text-decoration: none;
    

}
.menu{
    display: flex;
}

.menu .item:not(:last-child){
    margin-right: 50px;
}

.link{
    text-decoration: none;
    color: var(--basic-color);
}
.menu .link{
    position: relative;
    display: block;
    
    padding-top: 32px;
    padding-bottom: 32px;
    
    

    color: var(--basic-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.menu .link:hover,
.menu .link:focus{
    color: var(--accent-color);
}
.menu .link.current{
    color: var(--accent-color);
}

.contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact .item:not(:last-child) {
    margin-right: 50px;
}

.contact .link{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.contact .link:hover,
.contact .link:focus{
    color: var(--accent-color);
    text-decoration: none;
}

.icon-smartphone{
    margin-right: 10px;
}

.icon-mail{
    margin-right: 10px;
}
/* Шапка */



.hero{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;

    
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/background.jpg);
    background-size:cover;
    
  
}

.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 670px;
  
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.button-order{
   display: block;
    min-width: 216px;
    min-height: 50px;
    border-radius: 4px;
    border-color: transparent;
    margin: auto;

    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;  
    letter-spacing: 0.06em;
    
}
/* Особливості */
.features {
    display: flex;
}
.features-section{
    padding-bottom: 0;
}

.decorative-icon{
    display: flex;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
   justify-content: center;
   align-items: center;
    
}


.features .item:not(:last-child){
  
    margin-right: 30px;
}
.section .section-title{
    margin-bottom: 50px;
    margin-top: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


.features .title{
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}

.features-section .item{
    width: 270px;
}

.features .text{
    margin-top: 0;
    margin-bottom: 0;

    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.7;
    
}

/* Чим займаємося */
.work {
    display: flex;
}

.work-title {
    margin-bottom: 50px;
}
.downtitle{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
     color: #FFFFFF;
}

.work .item{
    position: relative;
    
    
}

.work .item:not(:last-child){
    margin-right: 30px;
}
/* Наша команда */
.team {
    display: flex;
}
.team-background{
    background-color: #F5F4FA;
}

.team .item:not(:last-child){
    margin-right: 30px;
}

.team .item{
    background-color: #FFFFFF;
    padding-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}


.team .image{
    margin-bottom: 30px;  
}

    
.team .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 0em;
    margin-bottom: 10px;
    text-align: center;
}

.team .text{
    color: var(--title-text-color);

    font-size:16px;
    line-height: 1.2;
    
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}
.team-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    

    color: #AFB1B8;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus{
    color: #FFFFFF;
    background-color: #2196F3;
}

.socials{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}

.customers-list{
    display: flex;
    gap: 30px;
}

.customers-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus{
   color: var(--accent-color);
   border-color: var(--accent-color);
}
/* Підвал */
.footer{
    background-color: var(--background-footer-color);
    padding: 60px 0;
}
.footer .container{
    display: flex;
}
.footer .logo{
    display: inline-block;
    margin-bottom: 20px;
}

.footer .logo-part{
    color: #ffffff;
    text-decoration: none;
}

.addres-link{
    color: #ffffff;
    display: inline-block;
    margin-bottom: 9px;
    
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
}
.addres-link:hover,
.addres-link:focus{
    color: var(--accent-color);
  
}
.contact-footer .link{
    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.contact-footer .item:not(:last-child){
margin-bottom: 9px;
}


.contact-footer .link.link:hover,
.contact-footer .link.link:focus{
    color: var(--accent-color);
}

.footer-social-link{
    color: #FFFFFF;
}
.social{
    margin-left: 70px;
}
.social-title{
    color: #FFFFFF;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.footer-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
           
}
.footer-social-link:hover,
.footer-social-link:focus{
    background-color: var(--accent-color);
}


.form{
 
    margin-left: auto;
}
.test{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
    
}

.input-mail{
    background-color: transparent;
    color: #FFFFFF;
    max-width: 358px;
    width: 358px;
    height: 50px;

    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    outline: transparent;
}

.button-mail{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
 

    background-color: var(--accent-color);
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;   
}


/* portfolio.html */

/* Фільтр */

 .portfolio .img{
    display: block;
 }

.signature{
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.filter .item.item:not(:last-child){
    margin-right: 8px;
}

.button {
    border: transparent;

    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px;
    
    border: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button:hover,
.button:focus {
    border: transparent;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Портфоліо */
.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    box-sizing: border-box;  

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.portfolio .item:hover,
.portfolio .item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);            
}



.portfolio .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 4px;    
}

.portfolio-downtitle-block{
    position: relative;
    overflow: hidden;
}

.portfolio-downtitle{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 63px 24px;
    margin: 0;
    
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
   
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.portfolio .link:hover .portfolio-downtitle,
.portfolio .link:focus .portfolio-downtitle {
    transform: translateY(0);
}

.portfolio .item{
    display: block;
}
    

.portfolio .text{
    color: var(--title-text-color);

    font-size: 16px;
    line-height: 1.8;
    margin: 0;
}
/* Модальне вікно */
.close-button {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    top: 8px;
    right: 8px;
    
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;

        
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window{
    position: relative;
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    
    border-radius: 4px;
    padding: 40px;
   
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
   
   transition: tranform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-hidden .modal-window{
  transform: scale(0.5);
  /* transition: tranform 250ms cubic-bezier(0.4, 0, 0.2, 1);  */
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-label{
    position:relative;

    margin-bottom: 2px;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label:hover{
    color: #2196F3;
}

.title-span{
    display: block;
    color: var(--title-text-color);
    margin-bottom: 4px;
}

.input-block{
    position: relative;
}

.modal-label:focus-within .icon-form{
   fill: var(--accent-color);
}

.icon-form{
    position: absolute;
    z-index: 50;
    top: 9px;
    left: 12px;
}


.form-title{
  
    color: var(--basic-color);
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}
.modal-input{
    margin-bottom: 10px;
    padding: 12px 30px;
    width: 100%;
    height: 40px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1,1666;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.modal-input:hover{
    border: 1px solid #2196F3;
    
    
}
.modal-input:focus{
    outline: transparent;
    border: 1px solid #2196F3;
}


 .modal-textarea{
    resize: none; 

    padding: 12px 16px;
    width: 100%;
    height: 120px;

    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
               

 }
 .modal-textarea:hover{
    border: 1px solid #2196F3;
 }

  .modal-textarea:focus{
    outline: transparent;
    border: 1px solid #2196F3;
  }

.checkbox-label{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 8px;

    margin-bottom: 30px;

    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;  

}

.checkbox-label .link{
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-skip-ink:none;
   
}


.send-buttom{
    background-color: var(--accent-color);
    color: #FFFFFF;
    border: 0;

    display: block;
    margin: 0 auto;
    padding: 10px 52px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}




.checkbox{
    position: absolute;
    left: 5px;
    top: 3px;
    width: 16px;
    height: 15px;

    background-image: url(../images/icon/checkboxoff.svg);
}

.checkbox-input:checked + .checkbox{
  
    background-image: url(../images/icon/check_on.svg);
}


.checkbox-input:focus+.checkbox {
outline-style: auto;
}